/* Blog Content Styling */
main {
    flex: 0 0 70%;
}

.post-meta {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 30px;
}



.blog-pagination {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.blog-pagination a {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    @media (max-width: 375px){
        padding : 5px 10px;
    }
}

.blog-pagination a.disabled {
    background-color: #ccc;
    pointer-events: none;
}

/* Sidebar styling */
aside {
    flex: 0 0 28%;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

aside .sidebar {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar h4 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #007bff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}
