.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.navbar .latest-posts {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    align-content: center;

    @media (max-width: 768px){
        padding-left: 20px;
    }
}
.navbar .latest-posts a {
    text-decoration: none;
    color: #3b5998;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.3rem;

    @media (max-width: 768px) {
        padding-top: 20px;
        justify-items: center;
        align-content: center;
    }
}
.navbar .latest-posts a:hover {
    color: black;
}
/* Styling for the search input */
.search-input {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Placeholder text styling */
.search-input::placeholder {
    color: #999;
    font-style: italic;
}

/* Focus effect on the search input */
.search-input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-input {
        width: 100%;
        max-width: none;
    }
}
@media (max-width: 1024px) {
    .search-input{
        margin-right: 20px;
    }
}


.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
